@charset "UTF-8";

body {
    background-color: #2e2e2e;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

iframe {
    display: block;
    margin: 0 auto;
    border: none;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold; 
    font-size: 18px;
}

img {

    margin: 12 px auto;
    height: auto;
    
}
